h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.37px;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  margin: 8px 0 20px 0;
  color: rgba(0, 0, 0, 0.5);
}
ion-img {
  margin: -16px;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: -0.408px;
  color: #000000;
}
