.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ion-card {
    margin: 10px;
    box-shadow: none;

    img {
        border-radius: 16px;
    }
}
ion-card-header {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.01em;
}
ion-card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}
ion-card-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}
